<div class="account-wall">
  <div class="form-signin">
    <%= form_with(model: idea, local: true) do |form| %>
  <% if idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% idea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :idea_name, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :descriptiontion, id: :idea_descriptiontion, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, id: :idea_picture %>
  </div>
  
  <div class="row">
    <div class = "col-sm-2">
       <%= link_to 'Back', ideas_path, class: "btn btn-warning" %>
    </div>
    
    <div class="col-sm-1"></div>
    <div class="col-sm-2">
      <%= form.submit "Submit", class: "btn btn-primary center-block" %>
    </div>
  </div>
<% end %>
  </div>
</div>
