<div class="container">
  <div class="row col-sm-8 col-sm-offset-2">
    <p id="notice"><%= notice %></p>

<h1>Comments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>User name</th>
      <th>Body</th>
      <th>Idea</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user_name %></td>
        <td><%= comment.body %></td>
        <td><%= comment.idea_id %></td>
        <td><%= comment.like_count%></td>
        <td><%= comment.picture%></td>
        <td><%= link_to 'Show', comment, class: "text-show" %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment), class: "text-edit" %></td>
        <td><%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "text-comment" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Comment', new_comment_path, class: "btn btn-primary create-action" %>

  </div>
</div>
