<div class="container">
  <div class="row">
    <div class="form-login col-sm-6 col-md-4 col-md-offset-4">
      <h1 class="text-center login-title">Sign In</h1>
      <div class="account-wall">
        <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
                  alt="">
        <div class="form-signin">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
            <br>
            <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control"  %>
            <% if devise_mapping.rememberable? -%>
            <div class="row">
              <div class="col-sm-1 field">
                <%= f.check_box :remember_me %>
              </div>
              <div class="col-sm-6">
                 <%= f.label :remember_me %>
              </div>
            </div>
            <% end %>
            <%= f.submit "Login", class: "btn btn-lg btn-primary" %>
          <% end %>
        </div>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
